# dependencies
node_modules/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env

# runtime data
pids/
*.pid
*.seed

# system files
.DS_Store
.vscode/
.idea/

# coverage reports (if using testing)
coverage/
